# Unique Item Base Validation Report

This report lists all unique items in items.js that are missing a base property, have a base property that does not match items2.js, or could not be matched to an entry in items2.js.

| Unique Name | items.js Base | items2.js Base | Status |
|-------------|--------------|---------------|--------|

# Set Item Base Validation Report

| Set Array | Name | Code | Set | items.js Base | items2.js Base | Status |
|-----------|------|------|-----|---------------|----------------|--------|
| highLevelSets | Immortal King's Will | ba5 | IK | Avenger Guard | Avenger Guard | OK |
| highLevelSets | Immortal King's Soul Cage | uar | IK | Sacred Armor | Sacred Armor | OK |
| highLevelSets | Immortal King's Detail | uhc | IK | War Belt | War Belt | OK |
| highLevelSets | Immortal King's Forge | ulg | IK | War Gauntlets | War Gauntlets | OK |
| highLevelSets | Immortal King's Pillar | uhb | IK | War Boots | War Boots | OK |
| highLevelSets | Tal Rasha's Horadric Crest | xh9 | TR | Death Mask | Death Mask | OK |
| highLevelSets | Tal Rasha's Guardianship | utp | TR | Lacquered Plate | Lacquered Plate | OK |
| highLevelSets | Tal Rasha's Fine-Spun Cloth | ulc | TR | Mesh Belt | Mesh Belt | OK |
| highLevelSets | Griswold's Valor | urn | Gris | Corona | Corona | OK |
| highLevelSets | Griswold's Heart | uar | Gris | Ornate Plate | Ornate Plate | OK |
| highLevelSets | Griswold's Redemption | 7ws | Gris | Caduceus | Caduceus | OK |
| Griswold's Honor | paf | Gris | Vortex Shield | Vortex Shield | OK |
| Trang-Oul's Guise | baf | TO | Bone Visage | Bone Visage | OK |
| Trang-Oul's Scales | uui | TO | Chaos Armor | Chaos Armor | OK |
| Trang-Oul's Claws | uvg | TO | Heavy Bracers | Heavy Bracers | OK |
| Trang-Oul's Girth | uvc | TO | Troll Belt | Troll Belt | OK |
| M'avina's True Sight | ci3 | Mav | Diadem | Diadem | OK |
| M'avina's Embrace | uea | Mav | Kraken Shell | Kraken Shell | OK |
| M'avina's Icy Clutch | ulg | Mav | Battle Gauntlets | Battle Gauntlets | OK |
| M'avina's Tenet | umc | Mav | Sharkskin Belt | Sharkskin Belt | OK |
| M'avina's Caster | 6lw | Mav | Grand Matron Bow | Grand Matron Bow | OK |
| Natalya's Totem | ba7 | Nat | Grim Helm | Grim Helm | OK |
| Natalya's Shadow | utp | Nat | Loricated Mail | Loricated Mail | OK |
| Natalya's Mark | 7wc | Nat | Scissors Suwayyah | Scissors Suwayyah | OK |
| Natalya's Soul | uhb | Nat | Mesh Boots | Mesh Boots | OK |
| Aldur's Stony Gaze | dr5 | Ald | Hunter's Guise | Hunter's Guise | OK |
| Aldur's Deception | utp | Ald | Shadow Plate | Shadow Plate | OK |
| Aldur's Rhythm | 7sc | Ald | Jagged Star | Jagged Star | OK |
| Aldur's Advance | utb | Ald | Battle Boots | Battle Boots | OK |
| Sazabi's Mental Sheath | xlm | Sazabi | Basinet | Basinet | OK |
| Sazabi's Ghost Liberator | 7cr | Sazabi | Balrog Skin | Balrog Skin | OK |
| Sazabi's Cobalt Redeemer | paf | Sazabi | Cryptic Sword | Cryptic Sword | OK |
| Cow King's Hooves | xhb | Cow | Heavy Boots | Heavy Boots | OK |
| Haemosu's Adamant | xar | Brethren | Cuirass | Cuirass | OK |
| Ondal's Almighty | 9sp | Brethren | Spired Helm | Spired Helm | OK |
| Taebaek's Glory | xhb | Brethren | Ward | Ward | OK |
| Dangoon's Teaching | 7ma | Brethren | Reinforced Mace | Reinforced Mace | OK |
| lowLevelSets | Angelic Sickle | sbr | Angelic | Saber | Saber | OK |
| lowLevelSets | Angelic Mantle | rng | Angelic | Ring Mail | Ring Mail | OK |
| lowLevelSets | Arcanna's Head | skp | Arcanna | Skull Cap | Skull Cap | OK |
| lowLevelSets | Arcanna's Flesh | ltp | Arcanna | Light Plate | Light Plate | OK |
| lowLevelSets | Arcanna's Deathwand | wnd | Arcanna | Wand | Wand | OK |
| lowLevelSets | Arctic Horn | ci0 | Arctic | Short War Bow | Short War Bow | OK |
| lowLevelSets | Arctic Furs | qui | Arctic | Quilted Armor | Quilted Armor | OK |
| lowLevelSets | Arctic Binding | lbl | Arctic | Light Belt | Light Belt | OK |
| lowLevelSets | Arctic Mitts | lgl | Arctic | Light Gauntlets | Light Gauntlets | OK |
| lowLevelSets | Berserker's Headgear | hlm | Berserker | Helm | Helm | OK |
| lowLevelSets | Berserker's Hauberk | spl | Berserker | Splint Mail | Splint Mail | OK |
| lowLevelSets | Berserker's Hatchet | 2ax | Berserker | Double Axe | Double Axe | OK |
| lowLevelSets | Cathan's Visage | msk | Cathan | Mask | Mask | OK |
| lowLevelSets | Cathan's Mesh | chn | Cathan | Chain Mail | Chain Mail | OK |
| lowLevelSets | Cathan's Rule | sst | Cathan | Battle Staff | Battle Staff | OK |
| lowLevelSets | Civerb's Cudgel | gsc | Civerb | Grand Scepter | Grand Scepter | OK |
| lowLevelSets | Civerb's Ward | lrg | Civerb | Large Shield | Large Shield | OK |
| lowLevelSets | Cleglaw's Tooth | lsd | Cleglaw | Long Sword | Long Sword | OK |
| lowLevelSets | Cleglaw's Claw | sml | Cleglaw | Small Shield | Small Shield | OK |
| lowLevelSets | Cleglaw's Pincers | mgl | Cleglaw | Chain Gloves | Chain Gloves | OK |
| lowLevelSets | Death's Touch | lea | Death | Leather Armor | Leather Armor | OK |
| lowLevelSets | Death's Guard | tgl | Death | Light Gauntlets | Light Gauntlets | OK |
| lowLevelSets | Death's Hand | hgl | Death | Heavy Gloves | Heavy Gloves | OK |
| lowLevelSets | Hsarus' Iron Heel | chn | Hsarus | Chain Mail | Chain Mail | OK |
| lowLevelSets | Hsarus' Iron Fist | vbt | Hsarus | Chain Boots | Chain Boots | OK |
| lowLevelSets | Hsarus' Iron Stay | vbl | Hsarus | Light Belt | Light Belt | OK |
| lowLevelSets | Infernal Cranium | cap | Infernal | Cap | Cap | OK |
| lowLevelSets | Infernal Torch | 9wn | Infernal | Burnt Wand | Burnt Wand | OK |
| lowLevelSets | Infernal Sign | 7tw | Infernal | Grim Wand | Grim Wand | OK |
| lowLevelSets | Iratha's Coil | crn | Iratha | Crown | Crown | OK |
| lowLevelSets | Iratha's Cuff | lgl | Iratha | Light Gauntlets | Light Gauntlets | OK |
| lowLevelSets | Iratha's Cord | lbl | Iratha | Light Belt | Light Belt | OK |
| lowLevelSets | Isenhart's Horns | fhl | Isenhart | Full Helm | Full Helm | OK |
| lowLevelSets | Isenhart's Case | brs | Isenhart | Breast Plate | Breast Plate | OK |
| lowLevelSets | Isenhart's Parry | spk | Isenhart | Spiked Shield | Spiked Shield | OK |
| lowLevelSets | Isenhart's Lightbrand | bsw | Isenhart | Broad Sword | Broad Sword | OK |
| lowLevelSets | Milabrega's Diadem | crn | Milabrega | Crown | Crown | OK |
| lowLevelSets | Milabrega's Robe | aar | Milabrega | Ancient Armor | Ancient Armor | OK |
| lowLevelSets | Milabrega's Orb | pa8 | Milabrega | Kite Shield | Kite Shield | OK |
| lowLevelSets | Milabrega's Rod | wsp | Milabrega | War Scepter | War Scepter | OK |
| lowLevelSets | Sigon's Visor | ghm | Sigon | Great Helm | Great Helm | OK |
| lowLevelSets | Sigon's Shelter | gth | Sigon | Gothic Plate | Gothic Plate | OK |
| lowLevelSets | Sigon's Guard | tow | Sigon | Tower Shield | Tower Shield | OK |
| lowLevelSets | Sigon's Gage | hgl | Sigon | Gauntlets | Gauntlets | OK |
| lowLevelSets | Sigon's Sabot | hbt | Sigon | Greaves | Greaves | OK |
| lowLevelSets | Sigon's Wrap | hbl | Sigon | Sash | Sash | OK |
| lowLevelSets | Tancred's Skull | bwn | Tancred | Bone Helm | Bone Helm | OK |
| lowLevelSets | Tancred's Spine | ful | Tancred | Full Plate Mail | Full Plate Mail | OK |
| lowLevelSets | Tancred's Hobnails | tbt | Tancred | Boots | Boots | OK |
| lowLevelSets | Tancred's Crowbill | mpi | Tancred | Military Pick | Military Pick | OK |
| lowLevelSets | Vidala's Fetlock | lbt | Vidala | Light Plated Boots | Light Plated Boots | OK |
| lowLevelSets | Vidala's Ambush | lea | Vidala | Leather Armor | Leather Armor | OK |
| lowLevelSets | Vidala's Snare | lbw | Vidala | Long Bow | Long Bow | OK |
